In [65]:
import os
import requests as req
import pandas as pd
import bs4
# BeautifulSoup 클래스 import
from bs4 import BeautifulSoup

In [67]:
df_all_1 = pd.read_csv('OBS_AWS_TIM_202401-20240630.csv', encoding='euc-kr')

In [68]:
df_all_1.head(10)

    지점 지점명                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0  400  강남  2024-01-01 06:00     0.7    106.7      0.8      0.0   99.0
1  400  강남  2024-01-01 07:00     0.5     92.1      0.9      0.0   98.0
2  400  강남  2024-01-01 08:00     0.0     85.1      0.7      0.0   98.0
3  400  강남  2024-01-01 09:00     0.5      0.0      0.2      0.0   98.0
4  400  강남  2024-01-01 10:00     2.3      0.0      0.3      0.0   97.0
5  400  강남  2024-01-01 11:00     4.6     82.2      0.7      0.0   83.0
6  400  강남  2024-01-01 12:00     6.7    160.2      1.0      NaN   69.0
7  400  강남  2024-01-01 13:00     6.3    180.0      2.3      NaN   63.0
8  400  강남  2024-01-01 14:00     6.8    165.8      1.2      NaN   62.0
9  400  강남  2024-01-01 15:00     6.3    165.2      1.0      NaN   64.0

In [69]:
df_all_1 = df_all_1.fillna(0)

In [70]:
df_all_1.head(10)

    지점 지점명                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0  400  강남  2024-01-01 06:00     0.7    106.7      0.8      0.0   99.0
1  400  강남  2024-01-01 07:00     0.5     92.1      0.9      0.0   98.0
2  400  강남  2024-01-01 08:00     0.0     85.1      0.7      0.0   98.0
3  400  강남  2024-01-01 09:00     0.5      0.0      0.2      0.0   98.0
4  400  강남  2024-01-01 10:00     2.3      0.0      0.3      0.0   97.0
5  400  강남  2024-01-01 11:00     4.6     82.2      0.7      0.0   83.0
6  400  강남  2024-01-01 12:00     6.7    160.2      1.0      0.0   69.0
7  400  강남  2024-01-01 13:00     6.3    180.0      2.3      0.0   63.0
8  400  강남  2024-01-01 14:00     6.8    165.8      1.2      0.0   62.0
9  400  강남  2024-01-01 15:00     6.3    165.2      1.0      0.0   64.0

In [71]:
df_all_2 = pd.read_csv('OBS_AWS_TIM_20250417115600.csv', encoding='euc-kr')

In [72]:
df_all_2 = df_all_2.fillna(0)

In [73]:
df_all_2.head(10)

    지점 지점명                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0  400  강남  2024-06-30 01:00    24.5    239.0      2.5     15.5   97.0
1  400  강남  2024-06-30 02:00    24.4    231.0      3.2      8.5   96.0
2  400  강남  2024-06-30 03:00    24.6    236.1      3.2      4.5   94.0
3  400  강남  2024-06-30 04:00    24.4    237.4      2.7      0.5   93.0
4  400  강남  2024-06-30 05:00    24.6    221.5      2.0      0.0   91.0
5  400  강남  2024-06-30 06:00    24.4    220.2      2.6      1.0   92.0
6  400  강남  2024-06-30 07:00    24.2    223.1      3.3      0.0   89.0
7  400  강남  2024-06-30 08:00    23.4    238.2      3.9      0.0   88.0
8  400  강남  2024-06-30 09:00    23.5    223.6      3.5      0.0   88.0
9  400  강남  2024-06-30 10:00    23.5    225.6      3.3      0.0   85.0

In [74]:
df_all = pd.concat([df_all_1, df_all_2], ignore_index=True)

In [75]:
df_all.head(10)

    지점 지점명                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0  400  강남  2024-01-01 06:00     0.7    106.7      0.8      0.0   99.0
1  400  강남  2024-01-01 07:00     0.5     92.1      0.9      0.0   98.0
2  400  강남  2024-01-01 08:00     0.0     85.1      0.7      0.0   98.0
3  400  강남  2024-01-01 09:00     0.5      0.0      0.2      0.0   98.0
4  400  강남  2024-01-01 10:00     2.3      0.0      0.3      0.0   97.0
5  400  강남  2024-01-01 11:00     4.6     82.2      0.7      0.0   83.0
6  400  강남  2024-01-01 12:00     6.7    160.2      1.0      0.0   69.0
7  400  강남  2024-01-01 13:00     6.3    180.0      2.3      0.0   63.0
8  400  강남  2024-01-01 14:00     6.8    165.8      1.2      0.0   62.0
9  400  강남  2024-01-01 15:00     6.3    165.2      1.0      0.0   64.0

In [76]:
mapping_station = {
    '강남':'대청',
    '강동':'명일',
    '강북':'가오리',
    '강서':'마곡나루',
    '관악':'관악산',
    '광진':'구의',
    '구로':'온수',
    '금천':'독산',
    '기상청':'보라매공원',
    '남현':'남태령',
    '노원':'석계',
    '도봉':'쌍문',
    '동대문':'회기',
    '마포':'서강대',
    '북악산':'한성대',
    '북한산':'북한산우이',
    '서대문':'신촌',
    '서초':'남부터미널',
    '성동':'응봉',
    '성북':'북한산보국문',
    '송파':'잠실',
    '양천':'오목교',
    '영등포':'영등포시장',
    '용산':'이촌',
    '은평':'구파발',
    '중구':'서울역',
    '중랑':'사가정',
    '한강':'여의나루',
    '현충원':'동작'
}
mapping_type = {
    400: 3,
    402: 5,
    424: '우이신설',
    404: 9,
    509: '신림',
    413: 2,
    423: 1,
    417: 1,
    410: '신림',
    425: 4,
    407: 1,
    406: 4,
    408: 1,
    411: '경의중앙',
    422: 4,
    420: '우이신설',
    412: 2,
    401: 3,
    421: '경의중앙',
    414: '우이신설',
    403: 2,
    405: 5,
    510: 5,
    415: 4,
    416: 3,
    419: 'GTX-A',
    409: 7,
    418: 5,
    889: 4

}

In [77]:
df_all['지점명'] = df_all['지점명'].map(mapping_station)

In [78]:
df_all['지점'] = df_all['지점'].map(mapping_type)

In [79]:
df_all.head(3)

  지점 지점명                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0  3  대청  2024-01-01 06:00     0.7    106.7      0.8      0.0   99.0
1  3  대청  2024-01-01 07:00     0.5     92.1      0.9      0.0   98.0
2  3  대청  2024-01-01 08:00     0.0     85.1      0.7      0.0   98.0

In [80]:
df_all = df_all.rename(columns={'지점명': '역이름', '지점': '호선명'})

In [81]:
df_all.head()

  호선명 역이름                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0   3  대청  2024-01-01 06:00     0.7    106.7      0.8      0.0   99.0
1   3  대청  2024-01-01 07:00     0.5     92.1      0.9      0.0   98.0
2   3  대청  2024-01-01 08:00     0.0     85.1      0.7      0.0   98.0
3   3  대청  2024-01-01 09:00     0.5      0.0      0.2      0.0   98.0
4   3  대청  2024-01-01 10:00     2.3      0.0      0.3      0.0   97.0

In [82]:
df_all.tail()

       호선명 역이름                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
236060   4  동작  2024-12-31 20:00    -0.2    213.2      0.9      0.0   49.0
236061   4  동작  2024-12-31 21:00    -3.3    228.5      0.7      0.0   63.0
236062   4  동작  2024-12-31 22:00    -3.5    224.6      0.7      0.0   67.0
236063   4  동작  2024-12-31 23:00    -3.7    215.0      0.7      0.0   71.0
236064   4  동작  2025-01-01 00:00    -3.9      0.0      0.4      0.0   74.0

In [83]:
df_all.to_csv('OBS_AWS_TIM_20240101-20250101.csv', index=False, encoding='euc-kr')